/**{ Efecto a aplicar
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}*/


.first-letter{
    color: #5c80ca;
}

td, th, table{
    border:1px solid #000;
}

